li {
    Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

li a {
    z-index: 1000;
}

@media (min-width: 992px) {
    .ddMAIS {
        display: none;
    }
}

@media (max-width: 992px) {
    .nav-item {
        display: none;
    }
    .imgLogo {
        display: none;
    }
}